/* Custom styles for Payload Admin */
:root {
  --theme-bg: #050505;
  --theme-input-bg: #121212;
  --theme-border-color: #363636;
  --theme-elevation-50: #0a0a0a;
  --theme-elevation-100: #121212;
}
